import(caret)
import(parallel)
import(pls)
import(corrplot)
import(data.table)
import(kernlab)
import(pls)
import(randomForest)
import(RSNNS)
import(doSNOW)
import(parallel)
import(elasticnet)
import(glmnet)
import(data.table)

export(
  RRegrs,
  AppendList2CSv,
  AppendList2txt,
  DsSplit,
  ENETreg,
  GLMreg,
  LASSOreg,
  LMreg,
  NNreg,
  PLSreg,
  RemCorrs,
  RemNear0VarCols,
  RFreg,
  RFRFEreg,
  ScalingDS,
  SVMRFEreg
)
